.allButtons {
    border: 0px solid #888;
    border-radius: 32px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);

    color: white;
    min-width: 50px;
    padding-block: 4px;
    padding-inline: 16px;
    cursor: pointer;
}

.allButtons:hover {
    filter: brightness(1.1);
}

.login {
    padding-block: 8px;
    padding-inline: 16px;

    margin-inline: 50px;
    margin-bottom: 4px;

    background-color: var(--color_logo);
    font-size: var(--font_1h);
    width: 85%;
}

.register {
    padding-block: 8px;
    padding-inline: 16px;

    margin-inline: 50px;
    margin-bottom: 4px;

    background-color: rgb(42, 42, 42);
    font-size: var(--font_1h);
    width: 85%;
}

.logout {
    margin-inline: 50px;
    margin: 4px;
    padding-block: 8px;

    background-color: var(--color_logo);
    font-size: var(--font_1);
    font-style: italic;
    text-align: start;
    padding-left: 45px;
    transform: translate(45px,0);
    width: 150px;
}

.edit, .delete, .renew, .copy {
    font-size: 0.8rem;
    width:60px;
    height: 2.0rem;
    border-radius: 6px;
    margin-inline: 4px;
    margin-bottom: 0px;
    padding: 4px;
    border: 0;
}

.cancel, .save {
    font-size: 1rem;
    font-weight: 500;
    width:100px;
    margin-inline: 4px;
    margin-bottom: 0px;
    padding: 6px;
    border: 0;
}

.edit, .renew  {background-color: #5356FF;}
.copy {background-color: rgb(25, 153, 53);}
.delete {background-color: #A0153E;}
.cancel {background-color: gray;}
.save {background-color: #496989;}

.button_bottom {
    border-radius: 6px;
    height:30px;
    // width: 1px;
    // height: 30px;
    // font-style: italic;
    // font-size: 1rem;
    // min-width: none;
    // padding: 0px;
}