$mobile_size: 1000px; $mobile_factor: 1;
@mixin mobile {
    @media (max-width: $mobile_size) {@content;}}
:root {
    --SideBarWidth: 200px;
    @include mobile {
        --SideBarWidth: 0px;
    }
}

.SideBarDiv {
    position: fixed;
    background-color: var(--color_mode);
    width: var(--SideBarWidth);
    height: 100%;

    border-right: 1px solid var(--shadow);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
    z-index:100;

    background-color: var(--color_mode);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;
    cursor: pointer;
    .logo-div {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: start;
        padding:10px;

        img {
            border: 3px solid var(--color_logo);
            border-radius: 8px;
            width: 30px;
            height: 30px;
        }
        p {
            padding-left: 3px;
            font-style: italic;
            font-weight: 600;
            font-size: var(--font_1);
        }
    }
    
    a {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        
        color: var(--color_contrast);
        font-weight: 500;
        font-size: 14px;
        
        padding-block:10px;
        padding-inline:14px;
        i {margin-right: 3px; font-weight: 300;}
    }
    a:hover {
        background-color: var(--color_theme2);
    }
    .selected {background-color: var(--color_theme2);}

    .user-settings {
        flex-basis: 100%; // Y - axis
        width: 100%; //X - axis
        
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
        margin-bottom: 20px;

    }
}