#body {
    height: 100vh;

    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-panel {
    background-color: rgb(245, 245, 245);
    // width: 30vw;
    // height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 1px solid #888;
    border-radius: 16px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
    
    padding-block: 60px;
    padding-inline: 16px;

    .login-label {
        // background-color: #888;
        width: 100%;
        // padding-inline: 20px;
        font-weight: 400;
        // margin-bottom: var(--pageBreak);
        text-align: center;
        font-size: var(--font_title);
        font-style: italic;
        font-size: var(--font_1);
    }

    span {
        width: 90%;
        justify-content: end;
    }

    a {
        cursor: pointer;
    }

    .logo-div {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    
        img {
            height: 60px;
            border: 3px solid var(--color_logo);
            border-radius: 8px;
            margin-left: 10px;
            margin-right: 3px;
        }
    
        p {
            font-weight: 600;
            font-size: 45px;
        }
    
        margin-bottom: var(--pageBreak);
    }
}