* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  // color: green;
  font-family: "Instrument Sans";
}

html {
  font-size: 16px;
}

:root {
  --color_theme1: #22092C;
  --color_theme2: #61197d;
  
  --pageBreak: 1rem;
  --color_logo: #872341;

  --font_title: 1.5rem;
  --font_1: 1rem;
  --font_1h: 1.5rem;
  --font_2: 2rem;
  --font_2h: 2.5rem;
}